<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>科室血液报表</title>
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../element-theme/blue/index.css">
    <script src="echarts.js"></script>
</head>

<body>
<div class="data-manage-table">
    <template>
        <el-form ref="form" :inline="true" style="padding:20px 20px 0 20px;"
                 @submit.native.prevent
        >
            <!-- <el-button type="primary" style="margin-right: 40px;">批量删除</el-button> -->
            <el-form-item label="科室">
                <el-input placeholder="请输入科室" v-model="department" @keyup.enter.native="load"></el-input>
            </el-form-item>
            <el-form-item label="日期">
                <el-date-picker v-model="formDate" type="datetimerange" size="small" format="yyyy-MM-dd HH:mm:ss" value-format="yyyy-MM-dd HH:mm:ss"
                                range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期">
                </el-date-picker>
            </el-form-item>
            <el-form-item>
                <el-button type="primary"@click="load" >搜索</el-button>
                <el-button type="">导出</el-button>
<!--                <el-button type="primary"@click="gettable" >生成统计图</el-button>-->
            </el-form-item>



        </el-form>


        <el-table :data="tableData" style="width: 1620px" border
                  :header-cell-style="{'text-align': 'center','background': '#eef1f6'}" highlight-current-row
                  @current-change=""
        >
            <el-table-column prop="department" label="科室" min-width="12%" align="center">
            </el-table-column>

            <el-table-column prop="bloodComponents" label="血液类型" min-width="15%" align="center">
            </el-table-column>

            <el-table-column prop="totalHp" label="血液数量" min-width="10%" align="center">
            </el-table-column>
            <el-table-column prop="aboBloodType" label="ABO类型" min-width="10%" align="center">
            </el-table-column>
            <el-table-column prop="rhBloodType" label="rh类型" min-width="10%" align="center">
            </el-table-column>

        </el-table>

        </div>
        <el-row :gutter="20">
            <el-col :span="12"><div id="main1" style="border:1px solid red;width:60%;height:300px;margin-top:10%;"></div></el-col>
            <el-col :span="12"><div id="main" style="border:1px solid red;width:60%;height:300px;margin-top:10%;"></div></el-col>
>
        </el-row>
    </template>
</div>

<script src="../plugins/vue-2.5.17/vue.js"></script>
<script src="../plugins/element-2.4.5/index.js"></script>
<script src="../icons/iconfont.js"></script>

<script>Vue.prototype.$ELEMENT = { size: 'medium' };</script>
<script>

    (function () {
        var vm = window.vm = new Vue({
            el: '.data-manage-table',
            data() {
                return {
                    //部门选择
                    department:'',

                    //时间数据的存放
                    formDate:[],

                    //表格信息
                    tableData: [
                        {
                            department:'',
                            bloodComponents: "",
                            totalHp: "",
                            aboBloodType: "",
                            rhBloodType: ""
                        }
                    ],
                    temptable:[
                        {
                            bloodComponents: "",
                            totalHp: "",
                        }
                    ]
                }
            },
            created() {
                // this.load()
            },
            methods: {
                dateFormat(picker){
                    this.formDate = [picker[0], picker[1]]
                },
                myEcharts(mycars,mycarstow){
                    //实例化
                    var mychart1 =  echarts.init(document.getElementById('main1'));
                    option = {
                        legend: {
                            data: ['科室血液使用情况']
                        },
                        xAxis: {
                            type: 'category',
                            data: mycars,
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: [
                            {
                                name: '科室血液使用情况',
                                type: 'bar',
                                data: mycarstow
                            }
                        ]
                    };
                    mychart1.setOption(option);
                },
                draw(){
                    let arr = Array.from(this.tableData)
                    console.log(arr)
                    let item = {};
                    for (let i = 0; i < arr.length; i++) {
                        item[arr[i].bloodComponents] = ~~item[arr[i].bloodComponents] + arr[i].totalHp;
                    }
                    console.log(item);
                    var mycars=new Array();//string型数组
                    var mycarstow=new Array();//int型数组
                    //先加载后台数据 对获取的数据进行分组 且写入对应位置的数组中
                    Object.keys(item).forEach(function (key) {
                        mycars.push(key);
                        mycarstow.push(item[key]);
                    })
                    this.myEcharts(mycars,mycarstow);

                },
                load() {

                    this.tableData=undefined
                    console.log(typeof this.formDate[0])
                    console.log(this.department)
                    fetch(`/partmyself/bloodBaseInformation/getDepartBloodInfo?department=${this.department}&startTime=${this.formDate[0]} &endTime=${this.formDate[1]}`).then(res => res.json()).then(res => {
                        this.tableData = res.data
                        //此是this的指向已经转变为method而非实例所以采用bind绑定this
                        this.$options.methods.draw.bind(this)();
                    })
                    //绘制图表数据

                }

                ,
            }
        });
    })()
</script>

</body>

</html>
