<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>血液追踪</title>
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../../element-theme/blue/index.css">
    <script src="../echarts.js"></script>
</head>

<body>
<div class="data-manage-table">
    <template>

        <el-form ref="form" :inline="true" style="padding:20px 20px 0 20px;"
                 @submit.native.prevent
        >
            <!-- <el-button type="primary" style="margin-right: 40px;">批量删除</el-button> -->
            <el-form-item label="血液ID">
                <el-input placeholder="请输入血液ID" v-model="bloodId" @keyup.enter.native="load"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary"@click="load" >搜索</el-button>
                <el-button type="">导出</el-button>
            </el-form-item>



        </el-form>

        <el-dialog title="血液当前位置" center :visible.sync="caculateState" width="45%" >
            <el-table :data="tableData" style="min-width: 80%" border
                      :header-cell-style="{'text-align': 'center','background': '#eef1f6'}" highlight-current-row
                      @current-change="">
                <el-table-column prop="blood_source" label="血液来源" min-width="33%" align="center">
                </el-table-column>
                <el-table-column prop="stay" label="血液位置" min-width="33%" align="center">
                </el-table-column>
                <el-table-column prop="name" label="使用患者姓名" min-width="33%" align="center"  v-if="isShow">
                </el-table-column>
                <el-table-column prop="patient_id" label="使用患者ID " min-width="33%" align="center" v-if="isShow">
                </el-table-column>
                <el-table-column prop="department" label="使用科室" min-width="33%" align="center"  v-if="isShow">
                </el-table-column>
                <el-table-column prop="bloodState" label="状态" min-width="33%" align="center"  v-if="!isShow">
                </el-table-column>
            </el-table>
        </el-dialog>

        <el-table :data="tableData" style="width: 100%" border
                  :header-cell-style="{'text-align': 'center','background': '#eef1f6'}" highlight-current-row
                  @current-change="">
            <el-table-column type="selection" width="55" align="center"></el-table-column>

            <el-table-column prop="varietyOfBlood" label="血液种类" min-width="10%" align="center">
            </el-table-column>

            <el-table-column prop="aboBloodType" label="血液abo类型" min-width="10%" align="center">
            </el-table-column>

            <el-table-column prop="rhBloodType" label="血液rh类型" min-width="10%" align="center">
            </el-table-column>
            <el-table-column prop="hp" label="血液总量" min-width="15%" align="center">
            </el-table-column>
            <el-table-column prop="blood_source" label="血液来源" min-width="15%" align="center">
            </el-table-column>
            <el-table-column label="操作" width="240" align="center">
                <template slot-scope="scope">
                    <el-button size="mini" type="danger" @click="concrete()":style="{ display: visiblePublish }">查看当前状态</el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-row :gutter="20">
            <el-col :span="12"><div id="main1" style="border:1px;width:80%;min-height:300px;height:auto;margin-top:5%;"></div></el-col>
            <el-col :span="12"><div id="main" style="border:1px ;width:80%;min-height:300px;height:auto;margin-top:5%;"></div></el-col>
        </el-row>
    </template>
</div>

<script src="../../plugins/vue-2.5.17/vue.js"></script>
<script src="../../plugins/element-2.4.5/index.js"></script>
<script src="../../icons/iconfont.js"></script>
<script>Vue.prototype.$ELEMENT = { size: 'medium' };</script>
<script>

    (function () {
        var vm = window.vm = new Vue({
            el: '.data-manage-table',
            data() {
                return {
                    //表格信息
                    bloodId:"",
                    caculateState:false,
                    isShow:true,
                    visiblePublish: 'none',
                    tableData: [
                        {
                            blood_source:"",
                            placeState:"",
                            patient_id:" ",
                            hp: " ",
                            stay: "",
                            aboBloodType: "",
                            rhBloodType: "",
                            name:"",
                            varietyOfBlood:"",
                            department:"",
                        }
                    ]
                }
            },
            created() {
                // this.load()
            },
            methods: {
                load() {

                    this.tableData=undefined
                    fetch(`http://localhost:9999/partmyself/bloodBaseInformation/getBloodGo?bloodId=${this.bloodId} `).then(res => res.json()).then(res => {
                        this.tableData = res.data
                        console.log(this.tableData)
                    })
                    this.visiblePublish= ''
                },
                cancel(){
                    this.payForm.name=''
                    this.payForm.patientId= ''
                    this.payForm.totalMoney = ''
                    this.caculateState = false
                },
                concrete(){
                        console.log(this.tableData[0].placeState)
                        if(this.tableData[0].placeState=="1"||this.tableData[0].placeState=="0"){
                            if(this.tableData[0].placeState=="1"){
                                this.tableData[0].bloodState="已过期"
                            }else{
                                this.tableData[0].bloodState="未过期"
                            }
                            this.isShow=false
                        }else {
                            this.isShow=true
                        }

                        this.caculateState=true
                }
                ,
            }
        });
    })()
</script>

</body>

</html>