<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>血液库存查询</title>
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../element-theme/blue/index.css">
    <script src="echarts.js"></script>
</head>

<body>
<div class="data-manage-table">
    <template>
        <el-form ref="form" :inline="true"  style="padding:20px 20px 0 20px;">
            <el-form-item label ="血液价格表">
            </el-form-item>

            <el-form-item label="ABO">
                <el-select v-model="aboBloodType">
                    <el-option v-for="item in aboOptions" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="Rh">
                <el-select v-model="rhBloodType">
                    <el-option v-for="item in rhOptions" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="状态">
                <el-select v-model="bloodStocksCondition">
                    <el-option v-for="item in conOptions" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item>

                <el-button type="primary" @click="select">筛选</el-button>
                <el-button type="primary" @click="load">刷新</el-button>
                <el-button type="primary" @click="dialogVisible = true">ID搜索</el-button>
                <el-button  @click="dialogVisible = true">导出</el-button>
                <el-button  type="primary" @click="analysis">库存分析</el-button>
                <el-switch size="medium"
                           style="position:fixed;top:35px;right:50px"
                           active-text="仅显示未过期库存"
                           inactive-text="显示全部库存"
                           font-size="50px"
                           v-model="state"
                           active-color="#00A854"
                           active-value="1"
                           inactive-color="#F04134"
                           inactive-value="0"
                           @change="allSelect"
                           :disabled="disabled==-1?true:false"
                >
                </el-switch>


                </el-row>

            </el-form-item>

        </el-form>
        <el-dialog title="ID搜索" center :visible.sync="dialogVisible" width="400px" @close="cancel">
            <!-- 内容的主体区域 -->
            <el-form  align="left" label-width="20px">
                <el-form-item label="ID" prop="bloodIdTo" >
                    <el-input v-model="bloodIdTo"></el-input>
                </el-form-item>
            </el-form>
            <!-- 底部区域 -->
            <span slot="footer" class="dialog-footer">
                    <el-button @click="cancel()">取 消</el-button>
                    <el-button type="primary" @click="find">确 定</el-button>
                </span>
        </el-dialog>

        <el-table :data="tableData" style="width: 100%" border
                  :header-cell-style="{'text-align': 'center','background': '#eef1f6'}" highlight-current-row
                  @current-change="">
            <el-table-column type="selection" width="55" align="center"></el-table-column>

            <el-table-column prop="bloodId" label="血液id" min-width="10%" align="center">
            </el-table-column>

            <el-table-column prop="varietyOfBlood" label="血液种类" min-width="10%" align="center">
            </el-table-column>

            <el-table-column prop="hp" label="血液数量" min-width="10%" align="center">
            </el-table-column>

            <el-table-column prop="rhBloodType" label="血液rh类型" min-width="10%" align="center">
            </el-table-column>
            <el-table-column prop="aboBloodType" label="血液abo类型" min-width="10%" align="center">
            </el-table-column>
            <el-table-column prop="bloodStorgeTime" label="血液入库时间" min-width="15%" align="center">
            </el-table-column>
            <el-table-column prop="bloodFailureTime" label="血液失效时间" min-width="15%" align="center">
            </el-table-column>
            <el-table-column prop="bloodPosition" label="血液存储位置" min-width="15%" align="center">
            </el-table-column>
            <el-table-column prop="bloodStocksCondition" label="血液存储状态" min-width="10%" align="center">
            </el-table-column>
        </el-table>

        <el-row :gutter="20">
            <el-col :span="12"><div id="main1" style="border:1px;width:80%;min-height:300px;height:auto;margin-top:5%;"></div></el-col>
            <el-col :span="12"><div id="main" style="border:1px ;width:80%;min-height:300px;height:auto;margin-top:5%;"></div></el-col>
        </el-row>
    </template>
</div>

<script src="../plugins/vue-2.5.17/vue.js"></script>
<script src="../plugins/element-2.4.5/index.js"></script>
<script src="../icons/iconfont.js"></script>
<script>Vue.prototype.$ELEMENT = { size: 'medium' };</script>
<script>
    (function () {
        var vm = window.vm = new Vue({
            el: '.data-manage-table',
            data() {
                return {
                    aboOptions: [{
                        value: 'A',
                        label: 'A'
                    }, {
                        value: 'B',
                        label: 'B'
                    }, {
                        value: 'AB',
                        label: 'AB'
                    }, {
                        value: 'O',
                        label: 'O'
                    }],
                    rhOptions: [{
                        value: '%2B',
                        label: '+'
                    }, {
                        value: '-',
                        label: '-'
                    }],
                    conOptions: [{
                        value: '0',
                        label: '未过期'
                    }, {
                        value: '1',
                        label: '已过期'
                    }, {
                        value: '2',
                        label: '已出库'
                    }],
                    state:'',
                    disabled: "1",
                    rhBloodType: "",
                    aboBloodType: "",
                    bloodStocksCondition: "",
                    bloodId:"",
                    bloodIdTo:" ",
                    //弹出框显示
                    dialogVisible: false,
                    tableData: [
                        {
                            bloodId: "",
                            varietyOfBlood: "",
                            hp: "",
                            rhBloodType: "",
                            aboBloodType: "",
                            bloodFailureTime:"",
                            bloodPosition: "",
                            bloodStorgeTime: "",
                            bloodStocksCondition: ""
                        }

                    ],
                    analysisData:[
                        {
                            totalHp: "",
                            rh_blood_type:"",
                            variety_of_blood:"",
                            abo_blood_type:""
                        }
                    ]

                    //新增样本表单验证
                }
            },
            created() {
                this.load()
            },
            methods: {
                load() {
                    this.tableData=undefined
                    this.disabled = 1;
                    fetch(`/partmyself//bloodStocks/getBloodInfoAll`).then(res => res.json()).then(res => {
                        this.tableData = res.data
                        console.log(res.data)
                    })
                },
                allSelect() {
                    fetch(`/partmyself/bloodStocks/getBloodUseful?bloodCon=${this.state}`).then(res => res.json()).then(res => {
                        this.tableData = res.data
                        console.log(res.data)
                    })
                },
                select() {
                    this.disabled = -1;
                    fetch(`/partmyself//bloodStocks/getBloodAboRh?abo=${this.aboBloodType}&rh=${this.rhBloodType}&except=${this.bloodStocksCondition}`).then(res => res.json()).then(res => {
                        this.tableData = res.data
                        console.log(res.data)
                    })
                },
                myEcharts(mycars,mycarstow){
                    //实例化
                    const mychart1 = echarts.init(document.getElementById('main1'));
                    const option = {
                        legend: {
                            data: ['各种血液库存情况']
                        },
                        xAxis: {
                            type: 'category',
                            data: mycars,
                            axisLabel: {
                                borderWidth: 1,
                                clickable: true
                            },
                            silent: false,
                            triggerEvent: true
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: [
                            {
                                name: '血液库存情况',
                                type: 'bar',
                                data: mycarstow
                            }
                        ]
                    };
                    mychart1.setOption(option);
                    mychart1.on('click', (params)=> {
                        if(params.componentType == "xAxis"){
                            alert("单击了"+params.value+"x轴标签");
                            console.log(this.analysisData)
                            this.pieChart(params.value);
                        }else{
                            alert("单击了"+params.name+"柱状图");
                        }
                    });
                },
                pieChart(valuement){
                    const myChart = echarts.init(document.getElementById('main'));
                    let arr = Array.from(this.analysisData)
                    // console.log(arr)
                    const abo = new Array();//string型数组
                    const rh = new Array();//int型数组
                    const name = new Array();
                    for (let i = 0; i < arr.length; i++) {

                        if (arr[i].variety_of_blood == valuement) {
                            abo.push({value:arr[i].totalHp,name:arr[i].abo_blood_type});
                            rh.push({value:arr[i].totalHp,name:arr[i].rh_blood_type});
                            name.push(arr[i].rh_blood_type,arr[i].abo_blood_type);
                        }
                    }
                    console.log(name)
                    console.log(typeof name)
                    option = {
                        tooltip: {
                            trigger: 'item',
                            formatter: '{a} <br/>{b}: {c} ({d}%)'
                        },
                        legend: {
                            data:name
                        },
                        series: [
                            {
                                name: 'RH',
                                type: 'pie',
                                selectedMode: 'single',
                                radius: [0, '30%'],
                                label: {
                                    position: 'inner',
                                    fontSize: 14
                                },
                                labelLine: {
                                    show: false
                                },
                                data: rh
                            },
                            {
                                name: 'ABO',
                                type: 'pie',
                                radius: ['45%', '60%'],
                                labelLine: {
                                    length: 30
                                },
                                label: {
                                    formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                                    backgroundColor: '#F6F8FC',
                                    borderColor: '#8C8D8E',
                                    borderWidth: 1,
                                    borderRadius: 4,
                                    rich: {
                                        a: {
                                            color: '#6E7079',
                                            lineHeight: 22,
                                            align: 'center'
                                        },
                                        hr: {
                                            borderColor: '#8C8D8E',
                                            width: '100%',
                                            borderWidth: 1,
                                            height: 0
                                        },
                                        b: {
                                            color: '#4C5058',
                                            fontSize: 14,
                                            fontWeight: 'bold',
                                            lineHeight: 33
                                        },
                                        per: {
                                            color: '#fff',
                                            backgroundColor: '#4C5058',
                                            padding: [3, 4],
                                            borderRadius: 4
                                        }
                                    }
                                },
                                data: abo
                            }
                        ]
                    };
                    myChart.setOption(option);
                },
                draw(){
                    let arr = Array.from(this.analysisData)
                    // console.log(arr)
                    let item = {};
                    for (let i = 0; i < arr.length; i++) {
                        item[arr[i].variety_of_blood] = ~~item[arr[i].variety_of_blood] + arr[i].totalHp;
                    }
                    // console.log(item);
                    var mycars=new Array();//string型数组
                    var mycarstow=new Array();//int型数组
                    //先加载后台数据 对获取的数据进行分组 且写入对应位置的数组中
                    Object.keys(item).forEach(function (key) {
                        mycars.push(key);
                        mycarstow.push(item[key]);
                    })
                    this.myEcharts(mycars,mycarstow);
                    console.log(mycars);
                    console.log(mycarstow);

                },
                analysis(){
                    fetch(`/partmyself/bloodStocks/getVarityNumber`).then(res => res.json()).then(res => {
                        this.analysisData = res.data
                        // console.log(this.analysisData)
                        //此是this的指向已经转变为method而非实例所以采用bind绑定this
                        this.$options.methods.draw.bind(this)();
                    })

                },
                find(){
                    fetch(`/partmyself/bloodStocks/getBloodInfoAlone?bloodId=${this.bloodIdTo}`).then(res => res.json()).then(res => {
                        this.tableData = res.data
                        this.dialogVisible = false

                    })
                },
                cancel(){
                    this.bloodIdTo = '',
                    this.dialogVisible = false
                }
            }

        });
    })()
</script>

</body>

</html>